#img_casos{
    width: 60%;
    height: 60%;
    align-self: center;
}
.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;

    /*width: 700px;
    height: 200px;
    position: relative;
    top: 0px;
    left: 25%;*/
}



.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}